{% extends "main.html" %}

{% block categories %}
Categories
{% for groceryitem in groceries %}
    <li class="category-link"><a href="{{url_for('showCatalogItems', category_id=groceryitem.id)}}"> {{groceryitem.name | title}} </a></li>
{% endfor %}
<a href="{{url_for('showCatalog')}}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back</a>
{% endblock %}


{% block additem %}
<a href="http://18.222.106.206.xip.io/categories/item/new/" class="btn btn-additem btn-info btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Add Item</a>
<br>
{% endblock %}
{% block grocerycatalogitems %}
{{selected_grocery.name | title}}
<br>
{% for catalog_i in items %}
<li class="category-link"><a href="{{url_for('showCatalogItemDescription', catalog_item_id = catalog_i.id, category_id = selected_grocery.id)}}"> {{catalog_i.name | title}}</a></li>
{% endfor %}

{% endblock %}
